body {
    background-color: #234;
    color: #6f9ac5;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
}

H1 {
    font-size: 36px;
    margin: 10px;
    text-align: center;
}
H3 {
    font-size: 28px;
}

.cards {
    background-color: #239b51;
}

.clients {
    background-color: #cf9d14;
}

.detail-panel {
    border: 1px solid #17222e;
    border-radius: 20px;
    color: #17222e;
    margin: 15px;
    padding: 20px;
}

.initial-text {
    color: #6f9ac5;
    font-size: 14px;
    margin: 10px;
}

li {
    background-color: transparent !important;
}

li:hover {
    background-color: #0a76a8 !important;
    color: #1c2935;
}

.list-group-item {
    border: 1px solid #17222e;
}

.list-group-item:first-child {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.list-group-item:last-child {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}